<html lang="en-US" ng-app="App">
<head>
	<title></title>
	
	<!-- Leaflet -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="assets/app.css">
</head>
<body>
	<div ng-controller="MainController">

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">

				<div class="navbar-header">
					<a class="navbar-brand">Concordia Tree Finder</a>
				</div>

			</div><!-- /.container-fluid -->
		</nav>

		<div class="row">
			<div class="col-xs-12 col-sm-8" id="map"></div>

			<div class="panel-group col-xs-12 col-sm-4" id="accordion">
				<div ng-repeat="(key, value) in treeByHealth" class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#{{treeByHealth[key].condensedName}}">
								{{key}}
							</a>
						</h4>
					</div>
					<div id="{{treeByHealth[key].condensedName}}" class="panel-collapse collapse">
						<div class="panel-body">
							<span>
								<a class="health" onclick="onRemove()" ng-click="add(treeByHealth[key], 'all')">All</a>
								<a class="health" ng-hide="treeByHealth[key].good.length === 0" onclick="onRemove()" ng-click="add(treeByHealth[key].good, 'good')">Good</a>
								<a class="health" ng-hide="treeByHealth[key].fair.length === 0" onclick="onRemove()" ng-click="add(treeByHealth[key].fair, 'fair')">Fair</a>
								<a class="health" ng-hide="treeByHealth[key].poor.length === 0" onclick="onRemove()" ng-click="add(treeByHealth[key].poor, 'poor')">Poor</a>
							</span>

						</div>
					</div>
				</div>
			</div> <!-- panel-group -->

			
		</div>

		

	</div>
	
	<div class="col-xs-12 col-sm-4">
		Tree Health Color Key: <div class="green">Good</div><div class="orange">Fair</div><div class="red">Poor</div> <br><br>

		You can select by species, or specify by health status.<br>
		Click tree locations for details. <br>
		Made with <a href="http://www.civicapps.org/datasets/street-trees">CivicApps</a>, Leaflet, and Angular.
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
	
	
	<script src="assets/app.js"></script>


	<script>
	var map = L.map('map').setView([45.5664 , -122.6273], 15);
	L.tileLayer('http://{s}.tiles.mapbox.com/v3/jfingert.j1fa4kd8/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		maxZoom: 18
	}).addTo(map);

	
	var onRemove = function (map) {

		$(".leaflet-marker-icon").hide();
		$(".leaflet-marker-shadow").hide();
		$("g").hide();

	}
	
	</script>
</body>
</html>